<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block title %}
    SIC!             {#Weil <title> um den title block drum ist, kann man in jeder html title überschreiben und braucht keinen <title> mehr (Standardgemäß wird SIC! eingesetzt wenn der title Block fehlt) #}
    {% endblock %}
    </title>

    {{ bootstrap.load_css() }}
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container">

        <a class="navbar-brand text-white py-3" href="{{url_for('home')}}">SIC!- Der Sustainable Innovation Check!</a>

        <div class="d-flex">
            {% if not hide_login_register %}
                <a href="{{url_for('login')}}" class="btn btn-primary me-2">Anmelden</a>
                <a href="{{url_for('register')}}" class="btn btn-secondary">Registrieren</a>
            {% endif %}
            {% if not hide_mein_bereich %}
                <a href="{{ url_for('meinBereich', name='deinWert') }}" class="btn btn-secondary">Mein Bereich</a>
            {% endif %}
            {% if not hide_logout%}
                <a href="{{url_for('logout')}}" class="btn btn-secondary">Abmelden</a>
            {% endif%}
        </div>
        
    </div>
    </nav>

    <main class="container mt-4">
        {% block content %}


       
        {% endblock %}
    </main>

    {{ bootstrap.load_js() }}
</body>
</html>
