{% extends "base.html" %}

{% block title %}Startseite{% endblock %}

{% block content %}
<div class="jumbotron text-center">

    <div class="container py-5">
    <div class="row">
        
        <div class="col-md-6">
            <div class="p-4 bg-light border rounded">
                <h3>Das Problem:</h3>
                <p class="mb-4 pb-2 border-bottom text-muted">
                Ein Imbiss besitzer, der ich nicht mit den Steuergesetzen, möglicher Weise noch aus dem Ausland kommt und 
                kaum die Steuergesetze Deutschlands versteht, möchte sein Betrieb Steuertranzparenter machen um Nachhaltiger zu wirtschaften. Da Gastrobetriebe öfters um das 
                wirtschaftliche überleben kämpfen müssen, steht ein Steuerberater außer Frage.</p>
            </div>
        </div>
      
        <div class="col-md-6">
            <div class="p-4 bg-light border rounded">
                <h3>Die Lösung:</h3>
                <p>
                Der Sustainable Innovation Check soll klein bis mittleren Unternehmern die Chance geben sich kostengünstig, simpel und schnell Nachhaltig zu verhalten. 
                In einem Online Check kann der Nutzer seine Situation beschreiben indem unser Team die relevante, rechtliche Lage verständnisvoll darlegt. 
                Nach dem Check bekommt der Nutzer einen Nachhaltigkeitsbericht(Einschätzung), welche Ihm Probleme, mögliche Probleme und Verbesserung vorschlägt.</p>
                </p>
            </div>
        </div>
    </div>
    </div>
        <a href ="{{url_for('schnelltest')}}"><button>Zum Schnelltest</button></a>
        <a href="{{url_for('ausführlicherTest')}}"><button>Zum ausführlichem Test</button></a>

</div>
{% endblock %}

    
       