{% extends "base.html" %}

{% block title %}Anmeldung{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center">
            
    <form method="POST" action="{{url_for('login')}}" class="w-50 p-4 bg-light border rounded">
        {{ form.hidden_tag() }} {#Schutz für crsv oderso#}

        <h3 class="text-center">Jetzt Anmelden</h3> 

            <div class="mb-3">
                <p class="form-label">Nutzername</p>
                {{ form.username(class="form-control") }}
                    {% for error in form.username.errors %}
                        <div class="alert alert-error">
                            {{error}}
                        </div>
                    {% endfor %}
            </div>

            <div class="mb-3">
                <p class="form-label">Passwort</p>
                {{ form.password(class="form-control") }}
                  {% for error in form.password.errors %}
                    <div class="alert alert-error">
                      {{error}}
                    </div>
                  {% endfor %}
            </div>

            <div class="mb-3 d-flex justify-content-center">
            {{ form.submit(class="btn btn-primary w-25") }}  
            </div> 
            <p><a class="link-opacity-75-hover link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
             href="{{ url_for('register') }}">Registrieren</a></p>
    </form>
</div>


{% endblock %}

