{% extends "base.html" %}

{% block title %}Mein Bereich{% endblock %}

{% block content %}
<div class="jumbotron text-center">
        <h1>Mein Bereich</h1>
    <h1>Hallo, {{content}}</h1>

    <div class="reportContainer">
        <a href="{{url_for('schnelltest')}}"><button>Neuer Schnelltest</button> </a>
        <a href="{{url_for('ausführlicherTest')}}"> <button>Neuer ausführlicher Test</button></a>
        
        <list class="reportListe">
            <ul>
                {% for report in reports %}
                    <li>
                        Bericht {{ loop.index }} - 
                        <a href="{{ url_for('download_pdf_meinBereich', report_id=report.id) }}" download>
                            PDF herunterladen
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </list>
    </div>

    <a href="{{url_for('logout')}}">Hier abmelden</a>
</div>
{% endblock %}


