    {% extends "base.html" %}
    {% import "bootstrap/form.html" as wtf %}
    {% block title %}Startseite{% endblock %}
    {%block content %}
    
    
        <h1><u><strong>Schnellcheck - Fragebogen</strong></u></h1>
    
     <form method="POST" action="/schnelltest">
    {{ form.hidden_tag() }}

<div class="p-4 bg-light border rounded">
    <div>
        {{ form.betrieb.label }}
        {{ form.betrieb }}
    </div>
    
    <div>
        {{ form.tse.label }}
        {{ form.tse }}
    </div>
    
    <div>
        {{ form.beleg.label }}
        {{ form.beleg }}
    </div>
    
    <div>
        {{ form.pruefung.label }}
        {{ form.pruefung }}
    </div>
    
    <div>
        {{ form.trennung.label }}
        {{ form.trennung }}
    </div>
    
    <div>
        {{ form.einnahmen.label }}
        {{ form.einnahmen }}
    </div>
    
    <div>
        {{ form.steuererklärungen.label }}
        {{ form.steuererklärungen }}
    </div>
    
    <div>
        {{ form.nachforderungen.label }}
        {{ form.nachforderungen }}
    </div>
    
    <div>
        {{ form.trinkgelder.label }}
        {{ form.trinkgelder }}
    </div>
    
    <div>
        {{ form.schulung.label }}
        {{ form.schulung }}
    </div>

    <div>
        <button type="submit">{{ form.submit.label }}</button>
    </div>
</form>
    <a href="{{url_for('index')}}"><button>Zurück zur Startseite </button></a>
</div>
  {% endblock %}